::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 6px;
  background: #c0c4cc;
  opacity: 0.3;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 6px;
  background: transparent;
}
